Repository aorlov05/CareerHelpi, pull requests merged in 2025-04, with the labels that each got.

#46 Add API key footer to home page
  src/App.tsx
  src/webpages/HomePage.tsx
Labels: Home Page, Task, UI

#48 Rerenders App to create separate pages
  src/App.test.tsx
  src/App.tsx
  src/Header.tsx
  src/pages.ts
  src/webpages/BasicQuiz.tsx
  src/webpages/DetailedQuiz.tsx
  src/webpages/HomePage.tsx
Labels: Basic Questions Page, Detailed Questions Page, Epic, Home Page, UI, User Story

#50 Create basic layout for basic quiz page
  src/Question.tsx
  src/QuizQuestion.ts
  src/webpages/BasicQuiz.tsx
  src/webpages/HomePage.tsx
Labels: Basic Questions Page, Task, UI

#52 Add progress bar to basic quiz page
  src/Progress.tsx
  src/Quiz.css
  src/webpages/BasicQuiz.tsx
  src/webpages/HomePage.css
  src/webpages/HomePage.tsx
Labels: Basic Questions Page, Home Page, User Story

#54 Add detailed quiz (Layout, and Textarea for user input)
  src/webpages/DetailedQuiz.tsx
  src/webpages/Quiz.css
Labels: Detailed Questions Page, User Story

#55 Move progress bar to always be visible on basic quiz page
  src/webpages/BasicQuiz.css
  src/webpages/BasicQuiz.tsx
Labels: Basic Questions Page, UI, User Story

#58 Send quiz responses to ChatGPT API for report generation
  package-lock.json
  package.json
  src/webpages/Results.tsx
Labels: Basic Questions Page, Detailed Questions Page, Epic, GPT, Task, UI, User Story
